h1 {
    color: #c7254e;
    border-bottom: double 5px #4ec4d3;
    padding: 0.5ex;
    font-size : 48px;
}

html{
    scroll-behavior: smooth;
}

table{
    padding:0.5em ;
    margin:2em 0;
    border: double 5px #4ec4d3;

}

.subtitle{
    margin-bottom: 10px;
}

div{
    background:#FFFFCC ;
}